
:root {
    --accent: #b8fe1eff;
    --dark: rgb(79, 79, 3);
    --white: rgb(240, 244, 237);
    --black: rgb(3, 34, 1);
    --red: #a71d31ff;
    --gradient-top: linear-gradient(0deg, #b8fe1eff, #2d2d2aff, #d2d6efff, #50808eff, #a71d31ff);
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--white);
    text-align: center;
    font-family: "Kode Mono", monospace;
}
.logo-next {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    height: 100%;
    animation-name: logowave;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#logo {
    position: fixed;
    left: 50%;
    top: 50%; /* Add top: 50% for vertical centering */
    transform: translate(-50%, -50%); /* Center both horizontally and vertically */
    max-height: 90%;
    opacity: 0.2;
    z-index: -10;
    animation-name: logowave;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes logowave {
    0%{
        width: 40%;
    }
    /* 10%{
        width: 90%;
    } */
    50%{
        width: 90%;
    opacity: 0.3;

    }
    100%{
        width: 40%;
    }
}
@keyframes logowave-next {
    0%{
        width: 0%;
    }
    10%{
        width: 90%;
    }
    90%{
        width: 90%;
    }
    100%{
        width: 0%;
    }
}
h1 {
    color: var(--accent);
    text-shadow: #000 5px 5px;
    font-size: 8vh;
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 3vh;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 5rem;
}
h2 {
    color: var(--black);
    text-shadow: var(--accent) 3px 3px;
}

.form-butt {
    display: block;
    max-width: 50%;
    margin: auto;
    color: var(--white);
    background-color: var(--black);
    border: 7px solid var(--accent);
    border-radius: 5%;
    padding: 5px;
    box-shadow: var(--black) 3px 3px;
    font-size: 3vw;
}

.bolo {
    display: block;
    position: relative;
    background-size: cover;
    width: 80vW;
    height: 80vw;
    border-radius: 5%;
    margin: auto;
    border: 10px solid var(--accent);
    box-shadow: var(--dark) 3px 3px;
    text-decoration: none;
}
.next-bolo {
    border-color: var(--red);
    box-shadow: var(--black) 3px 3px;
    animation-name: borderglow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-color: var(--black);
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */

}
@keyframes borderglow {
    0%{
        border-color: var(--red);
        /* color: var(--red); */
    }
    80%{
        border-color: var(--black);
        /* color: var(--black); */
    }
    80%{
        border-color: var(--black);
/*         color: var(--black);
 */    }
    100%{
        border-color: var(--red);
        /* color: var(--red); */
    }
}
.next-logo {
    height: 10vh;
    width: 10vh;
    margin: auto;
}
.info-butt {
    position: absolute;
    right: 3%;
    bottom: 3%;
    background-color: var(--dark);
    color: var(--accent);
    padding: 7px;
    border-radius: 50%;
    font-size: 4vw;
    font-weight: 700;
    border: 5px solid var(--accent);
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */
    z-index: 5;
}
.info-butt:hover, .back-butt:hover {
    transform: scale(1.3); /* Slight zoom on hover */
}
.countdown {
    color: var(--red);
    text-shadow: var(--black) 3px 3px;
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
    font-size: 8vw;
    font-weight: 700;
    animation: none;
}
#bolos-container {
    gap: 5vh;
    margin: auto;
    margin-top: 7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bolo-title {
    margin: auto;
    font-weight: 800;
    font-size: 7vw;
    z-index: 1;
    color: var(--accent);
    text-shadow: 2px 2px 4px var(--dark);
}
.next-title {
    font-weight: 900;
    color: var(--red);
    text-shadow: 2px 2px 4px var(--black);
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */

}
.next-info {
    color: var(--red);
    border-color: var(--red);
    background-color: var(--black);
    animation-name: borderglow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
blockquote {
    margin: 0 auto;
}
p {
    color: var(--gris);
    padding: 0 3vw 0 3vw;
    max-width: 500px;
    margin : auto;
    margin-bottom: 3vh;
}
p a {
    font-weight: 700;
    text-shadow: var(--accent) 1px 1px;

}
footer {
    position: relative;
    margin-top: 5vh;
    background-color: var(--accent); /* Use your dark color for the background */
    padding:  0;
    text-align: center;
    border-top: 8px solid var(--dark);
}
.foot-fake-margin {
    height: 16vh;
}
.fixed-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; /* Makes sure it stays above other content */
}
a {
    text-decoration: none;
    color: var(--dark);
}

.social-links {
    display: flex;
    height: 10vh;
    justify-content: center; /* Center the logos */
    align-items: center; /* Vertically align the logos */
    gap: 30px; /* Add space between the logos */
}

.intro {
    margin-bottom: 8vh;
}
.social-links img {
    width: 80%; /* Set a consistent width */
    height: 80%; /* Set a consistent height */
    object-fit: contain; /* Ensure logos maintain aspect ratio */
    border-radius: 10%; /* Optional: Add slight rounding */
    transition: transform 0.3s ease-in-out; /* Smooth hover effect */
}

.social-links img:hover {
    transform: scale(1.3); /* Slight zoom on hover */
}

.back-butt {
    z-index: 10;
    display: block;
    position: fixed;        /* Use fixed to position relative to the viewport */
    height: 8vw;
    width: 8vw;
    left: 0;
    border-radius: 4%;
    margin-left: 2vw;       /* Adds space from the left edge */
    top: 0;
    margin-top: 2vw;  /* Correct vertical centering */
    overflow: hidden;         /* Ensures image fits within the button */
}

.back-butt img {
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Prevents image distortion while filling the button */
    display: block;
}



@media (min-width: 768px) {
    h1 {
        font-size: 18vh;
    }
    #bolos-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .bolo-title, .countdown{
        font-size: 4vw;
    }
    .info-butt {
        font-size: 2vw;
    }
    .bolo {
        width: 40vW;
        height: 40vw;
        margin: 0;
    }
}

@media (min-width: 1024px) {
    /* h1 {
        font-size: 12vw;
    }
    h2 {
        font-size: 8vh;
    }
    p {
        font-size: 4vw;
    } */
    #bolos-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .bolo-title {
        font-size: 35px;
    }
    .info-butt, .countdown {
        font-size: 33px;
    }
    .bolo {
        width: 300px;
        height: 300px;
        margin: 0;
    }
}
